body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}

textarea {
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
#zone_input,
#zone_output {
    width: calc(100% - 20px);
    max-width: none;
    min-width: 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.buttonValide {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%; /* Boutons avec largeur à 100% */
}

.buttonValide:hover {
    background-color: #2577a9;
}
